@import "./reset.css";

body{
    background-color: #f1f2f3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginbg {
    background: url(../img/login\ background.jpg) no-repeat;
    width: 900px;
    height: 600px;
    background-size: 900px 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginarea {
    width: 800px;
    height: 500px;
    background-color: #f1f2f3;
    border-radius: 10px;
    display: flex;
}

.left-img{
    background: url(../img/left\ bg.jpg) no-repeat;
    width: 266px;
    height: 500px;
    border-radius: 10px 0 0 10px;
    padding: 10px;
}

.bluebird{
    width: 150px;
    margin: 15px 0 0 5px;
}

.login-info{
    display: flex;
    flex-direction: column;
    padding: 90px 0 0 30px;
    margin: 0 0 0 30px;
}

h2{
    color: #2a6c9f;
    margin-bottom: 20px;
}

input[type="email"] {
    justify-content: center;
    align-items: center;
    margin:10px 0;
    width: 400px;
    height: 50px;
    text-align:left;
    padding: 10px;
    background-color: #dcecf7;
    border-radius: 2px;
    font-size: 12px;
    letter-spacing: 0.2px;
    transition: background-color 0.25s ease-in-out;
}

input[type="password"] {
    justify-content: center;
    align-items: center;
    margin:0 0 10px 0;
    width: 400px;
    height: 50px;
    text-align:left;
    padding: 10px;
    background-color: #dcecf7;
    border-radius: 2px;
    font-size: 12px;
    letter-spacing: 0.2px;
    transition: background-color 0.25s ease-in-out;
}

.login-info a{
    text-decoration: none;
    color: #236fb4;
    font-size: 12px;
}

input[type="button"] {
    justify-content: center;
    align-items: center;
    margin:10px;
    width: 120px;
    height: 50px;
    text-align: center;
    background-color: #236fb4;
    border-radius: 2px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 0.2px;
    cursor: pointer;
    transition: background-color 0.25s ease-in-out;
}

input[class="sign-info"] {
    justify-content: center;
    align-items: center;
    margin:10px;
    width: 120px;
    height: 50px;
    text-align: center;
    background-color: #fff;
    border-radius: 2px;
    font-size: 16px;
    font-weight: 600;
    color: #236fb4;
    letter-spacing: 0.2px;
    cursor: pointer;
    transition: background-color 0.25s ease-in-out;
}

.login-btn{
    margin: 30px 0 70px 50px;
}

.login-policy{
    margin-bottom: 20px;
    gap: 30px;
    font-size: 12px;
}

.login-policy a{
    text-decoration: none;
    margin-left: 50px;
    color: #236fb4;
}